*{
	box-sizing: border-box;
	font-family: "IBM Plex Sans", sans-serif;
}

.app{
	min-height: 100vh;
	width: 100%;
	height: fit-content;
}

.search-bar {
	padding: 20px;
	margin-bottom: 15px;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	text-align: center;
	display: flex;
	align-items: center;
	flex-direction: row;
	background-color: white;
}

.search-bar img {
	height: 50px;
}

.search-bar input {
	width: 75%;
	outline: none;
	height: 50px;
}

.video-item img {
	max-width: 64px;
}

.video-detail .details {
	margin-top: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.list-group-item {
	cursor: pointer;
}

.list-group-item:hover {
	background-color: #eee;
}

#search-input{
	padding: 10px;
	flex: 1;
	border-radius: 5px;
	border: 1px solid #aaa;
}

.infinite-load{
	display: flex;
	justify-content: center;
	margin-top: 10px;
}

.comment-list{
	float: none !important;
	display: flex;
	flex-direction: column;
}

.comment-item{
	display: flex;
	flex-direction: row;
	margin: 25px 0;
	align-items: flex-start;
}

.comment-image{
	text-decoration: none;
	margin-right: 15px;
}

.comment-image > img{
	border-radius: 50%;
	height: 45px;
	width: 45px;
}

.comment-data > h5{
	font-weight: 700;
	color: #222;
	font-size: 17.5px;
}

.comment-data > h5 > span{
	font-weight: 300;
	color: #666;
	font-size: 15px;
}

.react-switch{
	display: flex;
	align-items: center;
	justify-content: center;
}

.react-switch-checkbox {
	height: 0;
	width: 0;
	visibility: hidden;
}
  
.react-switch-label {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	width: 85px;
	height: 25px;
	background: grey;
	border-radius: 100px;
	position: relative;
	transition: background-color .2s;
}
  
.react-switch-label .react-switch-button {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	width: 20px;
	height: 20px;
	border-radius: 45px;
	transition: 0.2s;
	background: #fff;
	box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}
  
.react-switch-checkbox:checked + .react-switch-label .react-switch-button {
	left: calc(100% - 2px);
	transform: translateX(-100%);
}
  
.react-switch-label:active .react-switch-button {
	width: 60px;
}

.react-switch-text{
	position: absolute;
	transform: translate(0, -50%);
	top: 50%;
	font-size: 12.5px;
}

.react-switch-left{
	left: 10%;
}

.react-switch-right{
	right: 10%;
}


/* DARK THEME STYLES */
.dark-app{
	background: #161625 !important;
}

.dark-head{
	box-shadow: rgba(199, 199, 199, 0.2) 0px 2px 8px 0px;
	background: #1e1e30 !important;
}

.dark-input{
	background: #161625 !important;
	color: #eee;
	box-shadow: rgba(199, 199, 199, 0.2) 0px 2px 8px 0px;
	border-color: #333;
}

.dark-comment{
	background: #161625 !important;
	color: #eee;
	border-color: #333;
}

.dark-comment > div > h5{
	color: #999 !important;
}